html {
    overflow: hidden;
    scroll-behavior: smooth;
    min-width: fit-content;
}

html * {
    font-family: 'Poppins', 'sans-serif' important;
    box-sizing: border-box !important;
}

.client-comments-wrap {
    margin-top: 30px;
}

img.client-comment-item {
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px #33333324;
}

div#copy {
    float: left;
    width: 100%;
}

.margin-top-40 {
    margin-top: 40px !important;
}

footer {
    float: left;
    width: 100%;
}

.font-awesome-rr-style {
    margin-right: 6px;
    font-size: 20px;
    color: #2ca4df;
}

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
    top: -48px;
    font-size: 40px;
    position: absolute;
}

h4.upper.white-text.var-head-rr {
    margin-bottom: 30px;
}

.appointment-sec .button-sec .blue-btn,
.appointment-sec .blue-btn img {
    width: 30px;
    height: 30px;
    margin-top: -6px;
    margin-left: 5px;
}

.appointment-sec .button-sec .blue-btn,
.appointment-sec .blue-btn {
    font-size: 30px;
    letter-spacing: 0;
    color: #fff !important;
    background: #2ca4df;
}

.vc_column-inner h2 {
    margin-bottom: 60px;
}

.slide-content h4 {
    margin: 20px 0;
}

.slide-wrap.dark-overlay h1 {
    line-height: 1.2;
}

.button-sec .blue-btn,
.blue-btn {
    letter-spacing: -1px;
}

.text-align-center {
    text-align: center;
}

.blue-text {
    color: #2ca4df;
}

.white-text {
    color: #fff;
}

.content-heading-rr *,
.content-heading-rr {
    /* letter-spacing: -2px !important; */
    font-size: 70px !important;
}

.work-images .typed-words:after {
    display: none;
}

h4.content-sub-heading-rr {
    font-size: 30px;
}

.noPadding {
    padding: 0 !important;
}

.animated-icon img {
    width: 100%;
    height: auto;
}

.work-steps-col img {
    cursor: pointer;
}

.icon-box > .animated-icon {
    width: 160px;
    margin-bottom: 5px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ib-content p {
    line-height: 1.5;
    font-size: 18px;
}

.our-video-sec .video-detail h5,
.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.contentbox-page-height-rr {
    min-height: calc(100vh - 66px);
    box-sizing: border-box;
    padding: 0px 0 !important;
}

img.video-img-sub {
    /* background: red; */
    width: 26px;
    margin-right: 2px;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-heading-rr {
    margin-bottom: 0px !important;
}

.icon-box.align-center {
    margin-top: 0;
}

h4.content-sub-heading-rr {
    margin-bottom: 15px;
}

.product-video-bg {
    /* padding: 80px 0; */
}

.product-video-bg h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 50px !important;
    /* font-size: 50px !important; */
}

.product-des {
    padding: 16px 15px !important;
}

.product-overview.text-center {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #60606069;
}

.product-video-bg {
    background: linear-gradient(0deg, #605ca8 50%, #89a5bd 50%) !important;
}

.product-overview h3 {
    font-family: 'Poppins';
    font-size: 18px;
}

.content-box-basic-padding {
    padding: 100px 0 !important;
}

.company-video-sec {
    background-image: none;
    background-color: #61b8b0;
    color: #fff;
    height: auto;
}

.company-video-sec h2.content-heading-rr {
    color: #fff;
    margin-bottom: 50px !important;
}

ul.work-steps {
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
}

ul.work-steps li {
    width: calc(50% - 10px);
    float: left;
    margin-bottom: 10px;
    font-size: 25px;
    list-style-type: none;
    margin-right: 10px;
}

ul.work-steps li::marker {
    display: none;
}

ul.work-steps li:nth-child(even) {
    margin-right: 0px;
    margin-left: 10px;
}

.button-sec.flex-column {
    float: left;
    width: 100%;
}

img.tick-gif {
    width: 35px;
    margin-right: 10px;
    margin-top: -5px;
}

.vc_column-inner h2 {
    font-weight: 100 !important;
}

.vc_column-inner h2 strong {
    font-weight: 700 !important;
}

a.popup-video {
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    background: #2ca4df;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    border-radius: 50%;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #3333339c;
}

a.popup-video:hover {
    background: #fff;
    color: #2ca4df;
    box-shadow: 0px 0px 30px #3333339c;
}

a.popup-video i.fas.fa-play {
    font-size: 28px;
}

.pop-video-player-wrap {
    position: relative;
}

.pop-video-player-wrap:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #0000001c;
    transition: all 0.4s;
}

.pop-video-player-wrap:hover:before {
    background: #0000003d;
}

.modal-content {
    background: transparent;
    border: 0;
    /* height: 100%; */
    /* min-height: 440px; */
    float: left;
}

.drop-shadow-rr {
    text-shadow: 0px 0px 10px #333;
}

iframe.iframe.video-wrap {
    float: left;
    /* height: 100%; */
    width: 100%;
    min-height: 501px;
    min-width: 900px;
    background: #333;
}

.modal-dialog.flex-column {
    margin-top: 0 !important;
    height: 100%;
}
.work-images .work-steps-col h3 {
    font-size: 33px;
    font-weight: 600;
}

.work-steps-col p {
    line-height: 1.4 !important;
    font-size: 14px !important;
    margin-top: 26px;
}

.work-images h2.content-heading-rr {
    margin-bottom: 50px !important;
    float: left;
    width: 100%;
}

.black-text {
    color: #565656;
}

h3.underline-rr:before {
    width: 25%;
    top: calc(100% + 9px);
}

.underline-rr {
    position: relative;
}

.underline-rr:before {
    content: '';
    position: absolute;
    width: 13%;
    border-bottom: 4px solid #fff;
    left: 50%;
    top: calc(100% + 27px);
    transform: translateX(-50%);
}

.testimonials-wrap {
    background-color: #6f43d6;
    color: #fff;
    position: relative;
}

.testimonials-wrap h2.content-heading-rr {
    color: #fff;
}

.work-images h2.content-heading-rr span.typed-words {
    min-width: 29px;
    display: inline-block;
    position: absolute;
    top: 0;
    margin-left: 15px;
}

.work-images h2.content-heading-rr {
    padding-right: 29px;
}

.product-overview.text-center.potrait-videos {
    background: transparent;
    box-shadow: 0px 0px;
}

.video-title {
    /* margin-top: 10px; */
    font-size: 29px;
    font-weight: 600;
}

.video-sub-title {
    font-size: 20px;
}

section {
    min-width: fit-content;
    float: left;
    width: 100% !important;
}

h4.white-text.var-head-rr {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #000 !important;
    text-transform: initial;
}

h4.white-text.var-head-rr strong {
    font-weight: 600;
    color: #fff;
}

h4.white-text.var-head-rr span {
    color: #fff;
}

h4.small.white-text.var-head-rr {
    font-size: 30px;
}

section.appointment-sec.pad-tp-50 {
    background: rgba(58, 82, 145, 1);
}

@media screen and (max-width: 1024px) {
    video#teaser-video {
        height: 100%;
        width: 135%;
        max-width: 400%;
    }

    .vc_column-inner h2 {
        margin-bottom: 0;
    }

    h4.upper.white-text {
        text-align: center;
    }

    .services {
        order: 2;
        width: 50%;
        float: left;
    }

    h4.upper.white-text {
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }

    .book-service {
        order: 3;
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .appointment {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 992px) {
    .slide-wrap.dark-overlay h1 {
        line-height: 1;
        margin-bottom: 30px;
    }

    video#teaser-video {
        height: 120%;
        width: 322%;
        max-width: 400%;
    }

    .btn-container.inline-btn-container {
        margin-top: 40px;
    }

    .content-heading-rr *,
    .content-heading-rr {
        font-size: 39px !important;
        line-height: 1.1;
        letter-spacing: -2px;
    }

    section.section-skewed {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .icon-box.align-center {
        margin-bottom: 0 !important;
    }

    .animated-icon.gradient-icon {
        margin-bottom: 0px !important;
    }

    .product-video-bg {
        padding: 50px 0;
    }

    .footer-links a {
        font-size: 18px;
    }

    .footer-links h3 {
        font-size: 28px;
    }

    .product-video-bg h2 {
        margin-bottom: 30px !important;
    }

    .content-box-basic-padding {
        padding: 50px 0 !important;
    }

    .company-video-sec h2.content-heading-rr {
        margin-bottom: 30px !important;
    }

    ul.work-steps li {
        width: 100%;
        margin: 4px 0 !important;
        font-size: 15px;
    }

    img.tick-gif {
        width: 22px;
        margin-right: 0px;
    }

    ul.work-steps {
        margin-bottom: 20px !important;
    }

    .work-images .work-steps-col h3 {
        font-size: 24px;
        margin-bottom: 5px !important;
        margin-top: 15px !important;
    }

    .work-images .work-steps-col p {
        margin-top: 10px;
    }

    .work-steps-col {
        margin-bottom: 60px !important;
    }

    .work-steps-col.no-bottom-padding {
        margin-bottom: 0 !important;
    }

    .satisfy-sec h5 {
        font-size: 20px;
        line-height: 1.7;
        margin-top: 10px;
    }

    iframe.iframe.video-wrap {
        min-height: calc(100vw - 165px);
        min-width: calc(100vw - 25px);
        background: transparent;
    }

    .product-overview.text-center.potrait-videos {
        margin-bottom: 30px;
    }

    .testimonials-wrap .button-sec.text-center {
        margin-top: 0;
    }

    section.our-video-sec {
        padding: 30px 0 !important;
    }

    .services {
        order: 2;
        width: 100%;
        margin-top: 20px !important;
    }

    h4.upper.white-text {
        order: 1;
        width: 100%;
    }

    .book-service {
        order: 3;
        width: 100%;
        margin-top: 40px !important;
        align-items: center;
    }

    .appointment {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        text-align: center;
    }

    .footer-links h3::after {
        left: 20%;
    }

    .vc_column-inner h2 {
        margin-bottom: 0px;
    }

    .work-steps-col img {
        width: 74%;
    }

    a.popup-video {
        height: 70px;
        width: 70px;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
    }

    a.popup-video i.fas.fa-play {
        font-size: 14px;
    }

    .our-video-sec .video-detail h5 {
        padding: 0 13px;
    }

    .our-video-sec .video-detail h2 {
        font-size: 34px;
        font-weight: 600;
    }

    ul.work-steps {
        text-align: center;
    }

    .work-images .work-steps-col h3 {
        margin-bottom: 34px !important;
        padding: 0 50px;
        font-size: 27px;
    }
}
